*{
    margin: 0;
    padding: 0;
}
.Header,.Footer{
    border: solid;
    background-color: rgb(12, 136, 60);
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

}
.Items{
    border: solid;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-content: center;
    border-radius: 10px;
    background-image: url(https://th.bing.com/th/id/OIP.wsBmcwCmlk8iETucnolh5QHaE6?w=254&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7) ;
}

